%h1 Query Representatives

= simple_form_for(@tool, url: 'run', html: {class: 'form-inline gcivic'}, wrapper: :inline_form) do |f|
  = f.error_notification


  .row
    .col-md-6
      Choose a division
      = f.input :ocdid, collection: @tool.divisions_for_select, label: "Pick a division"
    .col-md-2
      = f.input :recurse, as: :boolean, label: "Search Recursively?"
    .col-md-4
      &nbsp;

      = f.button(:button,value: 'view', class: 'btn btn-primary') do
        %i.fa.fa-eye
        View

      &nbsp;
      = f.button(:button,value: 'csv', class: 'btn btn-primary') do
        %i.fa.fa-download
        Save2CSV

.row
  %table.table.table-striped
    %thead
      - @tool.headers.each do |h|
        %th=h
    %tbody
      - @rows.each do |row|
        %tr
          - row.each_with_index do |col,i|
            %td
              %span{title: col, "data-toggle": "tooltip"}
                - if i==1
                  = col.split('/').last
                - else
                  =truncate(col, length: 15)

:javascript
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })